{% extends "base.html" %}
{% block content %}
<h2>My Strava Activities</h2>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Distance</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in activities %}
        <tr>
            <td>{{ activity.start_date.strftime("%Y-%m-%d") }}</td>
            <td>{{ activity.name }}</td>
            <td>{{ (activity.distance / 1000)|round(2) }} km</td>
            <td>{{ activity.moving_time // 60 }} min</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
